<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    <center><h4>Bismiallah Hirrahmanir Rahim</h4> </center>
    <center> <h1>City Lab And Hospital</h1> </center>
    <center> <h2>Customer Copy</h2> </center>
    <hr />


    <div class="container" style="text-align:left">
        <div class="row">
            <div class="col-md-12">
                <label class="col-md-3" style="text-align:right">Voucher No:</label>
                <label class="col-md-3" >{{voucherNo}}</label>
                <label class="col-md-3" style="text-align:right">Bill Date:</label>
                <label class="col-md-3" style="text-align:left">{{voucherNo}}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label class="col-md-3" style="text-align:right">Patient Name:</label>
                <label class="col-md-3" style="text-align:left">{{patientName}}</label>
                <label class="col-md-3" style="text-align:right">Delivery Date:</label>
                <label class="col-md-3" style="text-align:left">{{delivaryDate}}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label class="col-md-3" style="text-align:right">Gender:</label>
                <label class="col-md-3" style="text-align:left">{{gender}}</label>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label class="col-md-3" style="text-align:right">Age:</label>
                <label class="col-md-3" style="text-align:left">{{age}}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label class="col-md-3" style="text-align:right">Phone:</label>
                <label class="col-md-3" style="text-align:left">{{phone}}</label>
            </div>
        </div>


        <center>
            <table style="width:72%;line-height: " 0.5"; class="table table-bordered" cellspacing="10px">
                <tr style="height:5px; background-color:#003366;color:white">
                    <th style="width:10%">Sl No</th>
                    <th>Test Name</th>
                    <th style="text-align:center;width:15%">Fee</th>
                </tr>
                <tr>
                    <td height: "50px">1</td>
                    <td>Smith</td>
                    <td style="text-align:right">50</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Jackson</td>
                    <td style="text-align:right">94</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Jackson</td>
                    <td style="text-align:right">94</td>
                </tr>


                <tr style="background-color:green">
                    <td colspan="2" style=text-align:right;font-weight:bold>Total</td>

                    <td style=text-align:right;>94</td>
                </tr>
                <tr style="background-color:gray">
                    <td colspan="2" style=text-align:right;font-weight:bold>Discount</td>

                    <td style=text-align:right;>94</td>
                </tr>
                <tr style="background-color:gray">
                    <td colspan="2" style=text-align:right;font-weight:bold>NetAmt</td>

                    <td style=text-align:right;>94</td>
                </tr>
                <tr style="background-color:gray">
                    <td colspan="2" style=text-align:right;font-weight:bold>PaidAmt</td>

                    <td style=text-align:right;>94</td>
                </tr>
                <tr style="background-color:gray">
                    <td colspan="2" style=text-align:right;font-weight:bold>DueAmt</td>

                    <td style=text-align:right;>94</td>
                </tr>
            </table>
        </center>
</body>
</html>