@model CityLabAndHospital.Models.Db.InvestigationDetails

@{
    Layout = null;
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

<h4>Investigation Details</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="VoucherNo" />
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SlNo" class="control-label"></label>
                <input asp-for="SlNo" class="form-control" />
                <span asp-validation-for="SlNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TestName" class="control-label"></label>
                <select asp-for="TestName" class="form-control" asp-items="ViewBag.TestName"></select>
                <span asp-validation-for="TestName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TestGroup" class="control-label"></label>
                <input asp-for="TestGroup" class="form-control" />
                <span asp-validation-for="TestGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportGroup" class="control-label"></label>
                <input asp-for="ReportGroup" class="form-control" />
                <span asp-validation-for="ReportGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fee" class="control-label"></label>
                <input asp-for="Fee" class="form-control" />
                <span asp-validation-for="Fee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Commision" class="control-label"></label>
                <input asp-for="Commision" class="form-control" />
                <span asp-validation-for="Commision" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn bg-primary" asp-action="Index">Back to List</a>
</div>

</body>
</html>
